# Dependencias de Node.js
node_modules/

# Archivos de entorno (por si en el futuro agregas uno)
.env
.env.local

# Logs y archivos del sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db