# Puerto del servidor
PORT=3001

# Conexión a MongoDB
MONGODB_URI=mongodb://localhost:27017/onda-basquete

# Secreto para JWT
JWT_SECRET=tu_secreto_super_seguro

# Configuración de Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# Configuración de Email (Gmail)
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_contraseña_de_aplicacion

# Configuración del Frontend
FRONTEND_URL=http://localhost:5173

# Entorno
NODE_ENV=development
